.container {
  color: #fff;
}

.tile {
  border: 2px dashed #000;
  border-radius: 5px;
  height: 96px;
  margin: 0 0 20px;
  width: 96px;
}

.grass {
  display: block;
  width: 96px;
  height: 32px;
  background: url('src/client/assets/images/terrain.png');
  background-position: 0 -352px;
}

.snow {
  display: block;
  width: 96px;
  height: 32px;
  background: url('src/client/assets/images/terrain.png');
  background-position: -576px -544px;
}

.dirt {
  display: block;
  width: 96px;
  height: 96px;
  background: url('src/client/assets/images/terrain.png');
  background-position: 0px -64px;
}

.selected {
  border: 3px solid #f00;
}
