.container {
  background: #eee;
  border: 5px solid #0fc;
  color: #fff;
  left: 50%;
  padding: 50px 10px 10px;
  position: absolute;
  top: 8%;
  z-index: 10;
}

.collapsed {
  background: transparent;
  border: none;
  height: 40px;
  width: 40px;
}

.toggleButton {
  background: #fff;
  border: 2px solid #000;
  border-radius: 50%;
  color: #000;
  display: block;
  font-size: 30px;
  height: 40px;
  position: absolute;
  right: 10px;
  text-align: center;
  top: 10px;
  width: 40px;
}

.tileTypeLabel {
  color: #000;
}

.menuWrapper {
  display: inline-block;
  margin-right: 16px;
}
