.container {
  background: #eee;
  border: 5px solid #0fc;
  color: #fff;
  height: 500px;
  left: 50%;
  padding: 10px;
  position: absolute;
  top: 8%;
  width: 300px;
  z-index: 100;
}

.collapsed {
  background: transparent;
  border: none;
  height: 40px;
  width: 40px;
}

.toggleButton {
  background: #fff;
  border: 2px solid #000;
  border-radius: 50%;
  color: #000;
  font-size: 30px;
  height: 40px;
  position: absolute;
  right: 10px;
  text-align: center;
  top: 10px;
  width: 40px;
}
